header {
  padding: 1.5rem 0;
  background: $blue-page-color;
  color: white;
  h1 {
    font-weight: 900;
    font-size: 2rem;
  }
}

main {
  margin: 2rem auto 1rem auto !important;
}

.btn {
  border-radius: 0;
  background: #328cca;
  padding: 0.5rem 1.5rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 1.5rem 0;
}

#btn-back-to-top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 2rem;
  z-index: 99;
  border: none;
  background-color: rgba($color: black, $alpha: 0.3);
  cursor: pointer;
  padding: 1rem;
}
